*, *::before, *::after {
    box-sizing: border-box;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
h1 {
    font-size: 15vmin;
    text-align: center;
    color: #EFC860;
    margin: 0;
}
section.grid {
    display: grid;
    grid-template-columns: repeat(4,15vmin);
    grid-template-rows: repeat(4,15vmin);
    border: 5px solid black;
    margin: 5vmin;


}
section.grid div {
    border: 1px solid grey;

}
/* section.score {
    border: 1vmin solid black;
    width: 25vmin;
    height: 40vmin;
} */
section.bigPicture {
    display: flex;
    width: 61.89vmin;
    height: 61.89vmin;
    border: 5px solid black;
    margin: 5vmin;
/* switch back to grid someday?  */
}
